
.common-header-show{
  opacity: 0;
  transform: translate3d(0, -30px ,0);
}
.common-header-hide{
  opacity: 1;
  transform: translate3d(0, 0 ,0);
}

@keyframes animation {
  0% {
    margin-bottom: 6px;
    color: grey;
  }
  100% {
    margin-bottom: 1px;
    color: #fff;
  }
}