@keyframes msg {
  0% {
    transform: scale(0.01);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.01);
  }
}

.detail-content {
  color: #252933;
  word-break: break-word;
  line-height: 1.75;
  font-weight: 400;
  font-size: 16px;
  table {
    width: 100%;
    margin: 10px auto;
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid rgba(5, 5, 5, 0.06);

    thead {
      background-color: #fafafa;

      th {
        color: #5c6b77;
        font-weight: 500;
        white-space: nowrap;
        background: rgba(0, 0, 0, 0.02);
        border: 1px solid rgba(5, 5, 5, 0.06);
        padding: 12px 24px;
        text-align: center;

        &:not(:last-child):before {
          position: absolute;
          top: 50%;
          inset-inline-end: 0;
          width: 1px;
          height: 16px;
          background-color: #fff;
          transform: translateY(-50%);
          content: "";
        }
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid #f0f0f0;
        color: rgba(0, 0, 0, 0.88);

        td {
          text-align: center;
          padding: 12px 24px;
          border: 1px solid rgba(5, 5, 5, 0.06);
          color: rgba(0, 0, 0, 0.88);
          font-size: 13px;
        }
      }

    }

  }

  p {
    padding: 0;
    margin: 0;
  }

  blockquote {
    padding: 12px;
    border-left: 0.2rem solid rgb(73, 177, 245);
    background-color: rgb(233, 245, 254);
    color: rgb(106, 115, 125);
    display: block;
    margin-left: 0 !important;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0.5rem 0;
    cursor: pointer;
    transition: all 0.2s ease-out;
    color: #344c67;
    font-weight: bold;
  }

  h1:hover,
  h2:hover,
  h3:hover,
  h4:hover,
  h5:hover,
  h6:hover {
    padding-left: 14px;
  }

  code {
    display: inline-block;
    border-radius: 3px;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    color: #4f4f4f;
    margin: 0 3px;
  }

  .linenumber{
    user-select: none!important;
  }

  img {
    max-width: 100%;
    display: block;
    margin: 10px 0;
  }

  .react-syntax-highlighter-line-number {
    color: rgba(255, 255, 255, 0.3) !important;
    font-size: 12px;
    min-width: 16px !important;
    margin-right: 10px !important;
    padding: 2px 4px 2px 0 !important;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
  }

  .relative {
    div {
      border-radius: 4px;
      padding-bottom: 12px!important;
    }
  }
}